.homepage-container {
  /* background-image: url("/Users/elisejones/mod3/flag-quest-africa/src/images/africaimg.jpeg"); */
  display: flex;
  justify-content: center;
  padding-top: 5%;
  width:100%
}