.homepage-container {
  /* background-image: url("/Users/elisejones/mod3/flag-quest-africa/src/images/africaimg.jpeg"); */
  display: flex;
  justify-content: center;
  width: 100%; 
  height: 40em;
}

