* {
  font-family: Ysabeau Office;
  font-weight: bold;
}
body {
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h1 {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 2%;
  background-image: url(/Users/elisejones/mod3/flag-quest-africa/src/images/africapattnerback.jpeg);
}

button {
  background-image: url(/Users/elisejones/mod3/flag-quest-africa/src/images/africapattnerback.jpeg);
  height: 3em;
  border-radius: 1em;
  padding: 1 rem;
  margin: 1em;
  font-weight: bold;
  border: none;
  outline: none;
  font-size: 20px;
}

.h {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}