.nav-container {
  display: flex;
  gap: 3em;
  justify-content: center;
  width: 100%;
  position: fixed;
  height: 10%;
  padding-top: .5em;
  margin: 0;
  box-sizing: border-box;
  background-color: #fcc96e;;
}

.homenav,
.savenav {
  width: 10em;
  height: 2em;
  text-decoration: none;
  padding: 0.5em 1.5em;
  color: black;
  border: 1px solid black;
  border-radius: 1em;
  text-align: center;
}

.homenav:hover,
.savenav:hover {
  background-color: #c78a21;
}

.homenav.active,
.savenav.active {
  background-color: white;
  color: black;
}

.nav-container {
  background: url("/src/Components/images/africapattnerback.jpeg") ;
}
@media only screen and (max-width: 700px) {
  .nav-container {
    font-size: 15px;
  }
}