.saved-container {
  display: grid;
  grid-template-columns: repeat(2, 50%); 
  justify-items: center;
  width: 100vw;
}

.no-saved {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

 @media only screen and (max-width: 1357px) {
  .saved-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
