.flag-card {   
  padding: 1em;
  border: 7px dashed #fcc96e;
  border-radius: 2em ;
  max-width: 25em ;
  min-width: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  margin: 2em
}


.answer-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

img {
  width: 20em;
  margin: 2em;
  border: 2px solid black;
  margin-bottom: 5%;
}

input {
  border-radius: 1em;
  background-color: #fcc96e;;
  height: 60%;
  width: 90%;
}

input::placeholder {
  color: black;
  font-size: 20px;
  padding-left: 1em;
}

form {
  width: 20em;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background: url("/src/Components/images/africapattnerback.jpeg");
  max-height: 60%;
  border-radius: 1em;
  padding: 1em;
  margin: 1em;
  font-weight: bold;
  border: none;
  outline: none;
  font-size: 20px;
  cursor: pointer;
}

.delete-button {
  max-height: 3em;
  cursor: pointer;
}
